snippet h0
	=head0 ${1:head name}	

	Z<${2:$1}> 

	${2:contenido}

snippet h1
	=head1 ${1:head name}	

	Z<${2:$1}> 

	${2:contenido}

snippet h2
	=head2 ${1:head name}	

	Z<${2:$1}> 

	${2:contenido}

snippet h3
	=head3 ${1:head name}	

	Z<${2:$1}> 

	${2:contenido}


snippet h4
	=head4 ${1:head name}	

	Z<${2:$1}> 

	${2:contenido}

snippet program
	=begin programlisting

	    ${1:codigo}

	=end programlisting

snippet screen
	=begin screen

		${1:salida de pantalla}

	=end screen
